.card-product{
    width: 270px;
    height: 350px;

    position: relative;
}
.board{
    width: 270px;
    height: 250px;
    background-color: #f2f2f2;
    border-radius: 6px;

    position: relative;
}
.productImage{
    width: 172px;
    height: 152px;

    position: absolute;
    top: 50px;
    left: 50px;
}
.productImage1{
    width: 191px;
    height: 101px;
    object-fit: contain;

    position: absolute;
    top: 70px;
    left: 30px;
}
.productImage2{
    width: 170px;
    height: 129px;
    object-fit: contain;

    position: absolute;
    top: 50px;
    left: 50px;
}
.productImage3{
    width: 107px;
    height: 180px;
    object-fit: contain;

    position: absolute;
    top: 40px;
    left: 80px;
}
.cardButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    right: 10px;
    top: 10px;
}
.cardButton div{
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardButton img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.discount{
    width: 55px;
    height: 26px;
    border-radius: 4px;
    background-color: rgba(219, 68, 68, 1);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    left: 10px;
}
.cartBtn{
    width: 270px;
    height: 41px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
    border-radius: 6px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;

    position: absolute;
    top: 210px;
}

.info{
    width: 204px;
    height: 84px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info h1{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.prices{
    display: flex;
    gap: 15px;
    align-items: center;
}
.actualPrice{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: rgba(219, 68, 68, 1);
}
.oldPrice{
    color: gray;
    text-decoration: line-through;
}

.rate{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;
}
.rate p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.card:hover .cartBtn{
    display: block;
}


.allProductBtn{
    width: 234px;
    height: 56px;
    background-color: rgba(219, 68, 68, 1);
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 520px;
    cursor: pointer;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}