.header {
    width: 100%;

    .top-header {
        width: 100%;
        background-color: #000;
        height: 48px;

        .header-select {
            width: 1170px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            p {}
        }
    }

    .navbar{
        div{
            width: 30px;
            height: 30px;
            position: relative;

            img{
                width: 100%;
                height: 100%;
            }

            p{
                width: 14px;
                height: 14px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: #DB4444;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
}