.header {
    width: 100%;

    .top-header {
        width: 100%;
        background-color: #000;
        height: 48px;

        .header-select {
            width: 1170px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            p {}
        }
    }
}